.player-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.player-list li h2{
    font-family: 'Jersey 20';
    font-size: 2em;
    line-height: 100%;
    font-weight: 400;
    text-shadow: 
    -3px -3px 3px #000,
     3px -3px 3px #000,
    -3px  3px 3px #000,
     3px  3px 3px #000;
}