#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  font-family: 'Jersey 20';
  font-size: 10vw;
  line-height: 75%;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

button{
  background-color: #51A46C;
  border: 0;
  border-radius: 5vw;
  padding: 0vw 7vw;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 2vw;
}

button h2{
  font-family: 'Jersey 15';
  font-size: 3vw;
  line-height: 75%;
  font-weight: 400;
  color: #fff;
  margin: 1vw;
  -webkit-text-stroke: 0.1vw #000;
}
/* button:hover {
  border-color: #000;
  outline: 0.15vw solid blue;
}
button:focus,
button:focus-visible {
  outline: 0.2vw solid blue;
} */

form{
  align-items: center;
}

input{
  font-family: 'Jersey 20';
  font-size: 2vw;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 5vw;
  border: transparent;
  padding: 1.5vw;
  margin-top: 3vw;
}