@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Jersey+20&display=swap');
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #35654D;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


