#root {
  font-family: 'Jersey 20';
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: white;
  font-size: 10vw;
  font-weight: 400;
  line-height: 75%;
  padding: 0;
  margin: 0;
  align-self: center;
}

input {
  font-family: 'Jersey 20';
  font-size: 2vw;
  color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 10vw;
  width: 20vw;
  min-height: 4.5vw;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

input[type=text]:focus {
  outline: none;
}

button {
  font-family: 'Jersey 20';
  font-size: 2vw;
  background: #51A46C;
  color: white;
  border: 0;
  border-radius: 10vw;
  width: 15vw;
  min-height: 4vw;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}