/* พื้นหลังทั้งหน้า */
.game-container {
    width: 100vw;
    height: 100vh;
    background-color: #35654D; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    gap: 8px;
}

/* --- TOP BAR --- */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: transparent;
    height: 10vh;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-exit {
    background: #5c7c6b;
    border: 2px solid #333;
    width: 40px; 
    height: 50px;
    padding: 0;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.top-center {
  display: flex;
  height: 100%;
}

.coin-icon {
  width: 2.5vw;
}

.coin-display {
    display: flex;
    align-items: center;
    background: #3f7c54;
    font-size: 3vw;

    margin: 0px;
    padding: 0px 2vw;
    border-radius: 0 0 2.5vw 2.5vw; 
    gap: 10px;
}

.player-badge {
    display: flex;
    align-items: center; 
    background-color: #51A46C;
    font-size: 2.7vw;
    
    
    margin: 0px;
    padding: 0px 5vw;
    border-radius: 0 0 2.5vw 2.5vw; 
}

.top-right {
    font-size: 2rem;
}

/* --- MAIN AREA (PLAYERS) --- */
.main-area {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.player-row-bg {
    background-color: rgba(81, 164, 108, 0.6); 
    margin-top: auto;
    width: 70%;
    height: 40%;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

.player-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -20px; 
}

.player-name {
    font-size: 2.5rem;
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 5px;
}

.player-stack {
    font-size: 1.5rem;
}

.avatar-container > img {
    width: 100px;
}

/* --- FOOTER AREA --- */
.footer-area {
    height: 36vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0px 0px;
    margin-bottom: 20px;
    align-items: flex-start;
}

/* Chat Log */
.chat-box {
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 1.5rem;
    overflow-y: auto;
}

/* Rules */
.rules-box {
    text-align: left;
    font-size: 2.5rem;
}
.rules-box h3 {
    margin: 0 0 10px 0;
    text-align: center;
}
.rules-box ol {
    margin: 0;
    padding-left: 20px;
}

/* Actions */
.action-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.big-blind-input {
    background-color: #51A46C;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-pill {
    background: rgba(0,0,0,0.2);
    border: none;
    border-radius: 20px;
    width: 150px;
    color: white;
    font-family: 'Jersey 20';
    font-size: 3rem;
    text-align: center;
    margin: 0; 
    min-height: auto; 
}

.btn-start {
    background-color: white;
    color: black;
    font-family: 'Jersey 20';
    font-size: 2rem;
    border-radius: 30px;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 0 #ccc;
    margin: 0; 
}

.btn-start:active {
    transform: translateY(4px);
    box-shadow: none;
}