.menu {
    display: flex;
}

.joinRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

#divider {
    background: white;
    width: 8px;
    height: 60px;
    margin: 57px;
}
