.menu {
    display: flex;
    padding-top: 2vh;
}

.joinRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

#username{
  font-size: 3vw;
}

#createRoom {
  height: 4vw;
  font-size: 2vw;
  width: 24vw;
  height: 5vw;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

#divider {
    background: white;
    width: 0.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

#wrongName {
  font-size: 2vw;
  height: 5vw;
  align-self: center;
}
