.menu {
    height: 13em;
    display: flex;
    padding-top: 5vh;
}

.joinRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

#username{
  position: fixed;
  font-size: 3vw;
  margin-top: 0;
  margin-left: 2vw;
  top: 0;
  left: 0;
}

#createRoom {
  height: 4vw;
  font-size: 2vw;
  width: 22vw;
  height: 5vw;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

#divider {
    background: white;
    width: 0.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

#wrongName {
  margin-top: 1em;
  font-size: 2vw;
  height: 5vw;
  align-self: center;
}
