.hand {
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
}

.imgContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.cardWrapper {

  margin-left: -30px;
  transition: transform 0.2s ease;
}

.cardWrapper:first-child {
  margin-left: 0;
}


.cardWrapper:nth-child(even) {
  transform: translateY(20px);
}


.cardWrapper:hover {
  transform: translateY(-15px) scale(1.1);
  z-index: 10;
  position: relative;
}

img {
  display: 'block';
  width: 160px;
}