.status-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 8px;
    column-gap: 50px;

}

.player-avatar {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.img-avatar {
    width: 90px;
    height: auto;
    object-fit: cover;
}

.player-name-status {
    font-size: 2rem;
    text-shadow: 3px 3px 0px #000;
}