.playing-container {
    width: 100vw;
    height: 100vh;
    background-color: #35654D;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
}


.handTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    gap: 50px;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.actions-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.betRaise {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
}


.checkCallFold {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    border-radius: 30px;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
}

.action-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #57a870;
    color: white;
    border: 3px solid #f2d649;

    width: 100%;
    border-radius: 50px;
    padding: 10px;
    height: 60px;
    /* margin-top: 5px; */

    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;

    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.1s;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}


.action-btn:hover:not(.disabled) {
    transform: translateY(-2px);
    box-shadow: 0px 8px 0px #1a5c38;
}


.action-btn:active:not(.disabled) {
    transform: translateY(4px);
    box-shadow: 0px 2px 0px #1a5c38;
}


.action-btn.disabled {
    color: #9aaeb5;
    border-color: #c4b664;
    cursor: default;
}

.action-btn.disabled:hover {
    transform: none;
}

.bet-input {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px;
    width: 160px;
    min-height: 40px;
    /* margin: 0px; */
    margin-top: 6px;

    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.1;
    border: none;
    outline: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* --- TOP BAR --- */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: transparent;
    height: 10vh;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-exit {
    background: #5c7c6b;
    border: 2px solid #333;
    width: 40px;
    height: 50px;
    padding: 0;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.top-center {
    display: flex;
    height: 100%;
}

.coin-icon {
    width: 2.5vw;
}

.coin-display {
    display: flex;
    align-items: center;
    background: #3f7c54;
    font-size: 3vw;

    margin: 0px;
    padding: 0px 50px;
    border-radius: 0 0 30px 30px;
    gap: 10px;
}

.player-badge {
    display: flex;
    align-items: center;
    background-color: #51A46C;
    font-size: 2.7vw;

    margin: 0px;
    padding: 0px 50px;
    border-radius: 0 0 30px 30px;
}

.top-right {
    font-size: 2rem;
}