.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    padding: 2rem;
    min-height: 40vh; 
    width: 70%;
    margin-left: auto;

    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    background: #3F7C54;
}

.communityCards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.card-wrapper {
    flex: 0 1 160px;
    max-width: 160px;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
    .table {
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        padding: 1rem;
    }
    
    .communityCards {
        gap: 5px;
    }
}